<app-header></app-header>
<br><br><br>

<h1>Cadastrar nova reserva</h1>
<br>

<app-room-select (roomSelected)="onRoomSelected($event)"></app-room-select>
<app-calendar *ngIf="selectedRoomId" (dateChanged)="onDateSelected($event)"></app-calendar>
<app-time-slot-list *ngIf="timeSlotList.length > 0" [timeSlotList]="timeSlotList"></app-time-slot-list>
<button *ngIf="timeSlotList.length > 0" mat-raised-button color="primary" 
    (click)="saveSelection()"
    [disabled]="!isAnyTimeSlotSelected()">Salvar</button>

<br>
<br>
<br>

<button [routerLink]="['/']" mat-flat-button color="primary">Voltar</button>