<app-header></app-header>
<br><br>

<h1>Detalhe da reserva</h1>
<br>

<mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select disabled [(value)]="selectedRoom">
        <mat-option *ngFor="let room of rooms" [value]="room.id">{{ room.name }}</mat-option>
    </mat-select>
</mat-form-field>


<mat-card class="demo-inline-calendar-card">
    <mat-calendar [(selected)]="selectedDate" ></mat-calendar>
</mat-card>

<mat-selection-list>
    <mat-list-item *ngFor="let timeslot of timeSlotList; let i = index">
      <mat-checkbox 
        [(ngModel)]="timeslot.selected" 
        disabled>
        {{timeslot.time}}
      </mat-checkbox>
    </mat-list-item>
  </mat-selection-list>


<br>
<br>
<br>

<div *ngIf="isUserAdmin()">
  <button [routerLink]="['/list-my-bookings']" mat-flat-button color="primary">Voltar</button>
</div>
<div *ngIf="isUser()">
  <button [routerLink]="['/list-all-bookings']" mat-flat-button color="primary">Voltar</button>
</div>



