<div class="container">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <h2 class="form-signin-heading">Login</h2>
        <div *ngIf="invalidLogin" class="alert alert-danger">Usuário ou senha incorretos.</div>
        <br/>
        <label for="username" class="sr-only">Email: </label>
        <input type="email" id="username" name="username" [(ngModel)]="credentials.email" 
            class="form-control" placeholder="Email" required>
        <br/>
        <br/>
        <label for="password" class="sr-only">Senha: </label>
        <input type="password" id="password" name="password" [(ngModel)]="credentials.password" 
            class="form-control" placeholder="Senha" required>
        <br/><br/>
        <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid" >Log in</button>
    </form>
</div>