<app-header></app-header>
<br>
<br>
<section>
    <div class="example-button-row">  
        

        <li *ngIf="!isUserAuthenticated()"><a routerLink="/login">Login</a></li>
        
        <div *ngIf="isUserAdmin()">
            <button [routerLink]="['/create-booking']" mat-flat-button color="primary">Cadastrar nova reserva</button>
            <br><br>
            <button [routerLink]="['/list-my-bookings']" mat-flat-button color="primary">Listar minhas reservas</button>
        </div>
        <div *ngIf="isUser()">
            <button [routerLink]="['/list-all-bookings']" mat-flat-button color="primary">Listar todas as reservas</button>
        </div>

    </div>
</section>